/* components/Accordion.module.css */
.accordion {
    background-color: #29292980;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border-bottom: 0.5px solid;
    outline: none;
    color: #A4DAE4;
    transition: background-color 0.4s;
  }
.accordion:hover{
    background-color: #a4dae423;
}
.active {
background-color: #a4dae423;
transition: all 400ms;

}
.active .accordion{
border: none;
}
.subtitle{
    color: #FFF793;
}
.panel {
padding: 18px;
display: none;
overflow: hidden;
background-color: #a4dae423;
border: 1px solid #A4DAE4;
}
