@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.caixa-cinza {
  width: 123px;
  height: 103px;
  background-color: gray;
  border-radius: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primaria{
  color: #93720E;
}
.transparente-primaria{
  background-color: #23232388;
}
.transparente-secundaria:hover{
  background-color: #a4dae45d;
}
.transparente-black{
  background-color: #29292942;
}
.bg-footer{
  background: linear-gradient(
    90deg, 
    #292929 0%, 
    #000000 100%
  );

}
.secundaria{
  color: #A4DAE4;
}
.slogan-titulo{
  color: #D3A731;
}

.terciaria{
  color: #FFF793;
}
body{
  background: linear-gradient(
    180deg, 
    #2D2304 0%, 
    #93720E 49%, 
    #93720E 100%
  ); /* Ajuste conforme necessário */
}

.input-container input {
  border: none;
  outline: none;
  padding: 10px 15px;
  background: transparent;
  font-size: 16px;
  border: 2px solid #93720E;
  border-radius: 10px;
  
  flex: 1;
}

.input-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 10px;
  /* translate: ; */
}


@keyframes shadowPulse {
  0%, 100% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  50% {
      box-shadow: 0 10px 20px #93720E;
  }
}

.shadow-animation {
  animation: shadowPulse 2.5s infinite;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}